body {
    background: linear-gradient(#f4ffff #f2f1fc);
}

.hero-section {
    margin-top: 150px; 
    height: 80vh; 
}

.btc-img {
    width: 420px;  
}

.market-section {
    margin-top: 100px;
}

.chooseUs-section {
    margin-top: 100px;
}

.cardborder {
    border-radius: 10%;
}

.joinSection {
    margin-top: 150px;
}

.border-card{
    background-color:beige;
}

.f-size {
    font-size: 13px;
    width:120px;
    height: 48px;
}

.btn-font-size {
    font-size:10px;
    background-color: #F8F8F8;
}

.btn-font-size:hover {
    background-color: #F8F8F8;
}

.btn-market{
    font-size:12px;
    background-color: #F8F8F8;
}

.icon-margin{
    margin-left: 120px;
}

.footer-section {
    margin-top: 150px;
    margin-bottom: 150px;
}

/*Media queries styles*/
@media only screen and (max-width: 576px) {
    /*Hero Section*/
    .hero-section1 {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        text-align: center !important;
        margin-top: 100px !important;
        height: auto !important;
    }

    .hero-section1 button {
        margin-top: 10px !important;
    }

    .btc-img1 {
        width: 80% !important;  
        max-width: 300px !important;
        margin-top: 20px !important;
    }

    /*Cards section*/
    .cryptoTrade{
        margin-left: auto !important;
        margin-right: auto !important;
    }

    /*Join section*/
    .joinSection1{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        text-align: center !important;
        height: auto;
    }

    .col1-6 {
        width: 100% !important;
      }
    
  /* Footer Section */
  .footer-section1 {
    margin-top: 300px !important;
    margin-bottom: 100px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
  }
  }
